<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/pgp">PGP</a></li>
<!--<li><a href="/blog">Blog</a></li>-->
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:joe.s.rickard@gmail.com">email</a></li>
   <li><a href="https://github.com/joerickard"target="_blank">github</a></li>
   <li><a href="https://www.strava.com/athletes/10227888" target="_blank">strava</a></li>
   <li><a href="https://www.linkedin.com/in/joesrickard"  target="_blank">linkedIn</a></li>
   </ul>
  </footer>
  </body>

</html>
